<%- include("partials/header") -%>

    <div class="log-reg-layer0">    
        <div class="log-reg-layer1">
            <!-- <label class="labelwelcome">Welcome to GAME HUB</label> -->
            
            <!-- <img src="/images/logo1.g" alt="Image" style="height: 200px; width: 200px;"> -->
            <div class="div-button">
                <form method="POST" action="/">
                    <button type="submit" class="logn" name="butt" value="getlogin">LOGIN</button>
                <!-- </form>
                <form method="post" action="/"> -->
                    <!-- <button class="reges" name="butt">REGISTER</button> -->
                    
                    <button type="submit" class="reges" name="butt" value="getregister">REGISTER</button>
                </form>
            </div>
        </div>
    </div>

<%- include("partials/footer") -%>