<%- include("partials/header") -%>

    <div class="log-reg-layer0">    
        <div class="log-reg-layer1">
            <div class="div-button">
               <h1>update</h1>
            </div>
        </div>
    </div>

<%- include("partials/footer") -%>